Olá, Kauan! Como você sabe, nossa empresa tem enfrentado alguns desafios relacionados à gestão de recursos humanos. Precisamos tomar decisões baseadas em dados para resolver esses problemas. Aqui estão algumas questões que gostaria que você analisasse utilizando nosso conjunto de dados de RH:

## Problema 1: Rotatividade de Funcionários

Temos observado uma alta taxa de rotatividade de funcionários em determinados departamentos. Gostaria que você investigasse os fatores que podem estar contribuindo para essa rotatividade, como:

- Departamentos com maior rotatividade
- Faixa etária dos funcionários que estão saindo
- Tempo de serviço dos funcionários que estão deixando a empresa
- Possíveis correlações com salários, benefícios ou outras variáveis

Sua análise nos ajudará a identificar as causas-raiz e a desenvolver estratégias para reter talentos.

## Problema 2: Desempenho e Produtividade

Alguns gerentes têm relatado preocupações sobre o desempenho e a produtividade de suas equipes. Gostaria que você explorasse os dados para identificar possíveis fatores que possam estar influenciando o desempenho, como:

- Relação entre horas extras e produtividade
- Impacto do treinamento e desenvolvimento na produtividade
- Correlação entre satisfação no trabalho e desempenho
- Diferenças de desempenho entre departamentos ou funções

Sua análise nos ajudará a tomar medidas para melhorar o desempenho e a produtividade de nossa força de trabalho.

## Problema 3: Diversidade e Inclusão

Estamos comprometidos em promover a diversidade e a inclusão em nossa empresa. Gostaria que você analisasse os dados para identificar possíveis lacunas ou áreas de melhoria, como:

- Representação de gênero, etnia e idade em diferentes níveis hierárquicos
- Diferenças salariais entre grupos demográficos
- Taxas de promoção e progressão na carreira para grupos sub-representados
- Percepções de inclusão e pertencimento com base em pesquisas de engajamento

Sua análise nos ajudará a desenvolver iniciativas e políticas para promover uma força de trabalho mais diversa e inclusiva.

Aguardo ansiosamente seus insights e recomendações baseados na análise dos dados. Não hesite em me procurar se precisar de mais informações ou recursos.

Atenciosamente

# 1.0 IMPORTS

In [26]:
import pandas as pd
import numpy  as np

## 1.1 Loading Data

In [27]:
df1 = pd.read_csv('HR_Analytics.csv')
df1.head()

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0

# 2.0 DATA DESCRIPTION

Q: What's mean columns?
<br>Q: How can I solve the problem 1?

A: I need mind map of hyphotesis for me create and solve my questions.

In [28]:
df2 = df1.copy()

## 2.1 Lowercase columns

In [29]:
df2.columns = [x.lower() for x in df2.columns] # columns lowercase letters

## 2.2 Data Dimension

In [30]:
print('Columns:', df2.shape[1])
print('Rows:', df2.shape[0])

Columns: 38
Rows: 1480

## 2.3 Data Types

To make changes I need understand my datas.

In [31]:
df2.dtypes

empid                        object
age                           int64
agegroup                     object
attrition                    object
businesstravel               object
dailyrate                     int64
department                   object
distancefromhome              int64
education                     int64
educationfield               object
employeecount                 int64
employeenumber                int64
environmentsatisfaction       int64
gender                       object
hourlyrate                    int64
jobinvolvement                int64
joblevel                      int64
jobrole                      object
jobsatisfaction               int64
maritalstatus                object
monthlyincome                 int64
salaryslab                   object
monthlyrate                   int64
numcompaniesworked            int64
over18                       object
overtime                     object
percentsalaryhike             int64
performancerating             int64
relationshipsatisfaction      int64
standardhours                 int64
stockoptionlevel              int64
totalworkingyears             int64
trainingtimeslastyear         int64
worklifebalance               int64
yearsatcompany                int64
yearsincurrentrole            int64
yearssincelastpromotion       int64
yearswithcurrmanager        float64
dtype: object

## 2.4 Check NA

In [32]:
df2.isnull().sum()

empid                        0
age                          0
agegroup                     0
attrition                    0
businesstravel               0
dailyrate                    0
department                   0
distancefromhome             0
education                    0
educationfield               0
employeecount                0
employeenumber               0
environmentsatisfaction      0
gender                       0
hourlyrate                   0
jobinvolvement               0
joblevel                     0
jobrole                      0
jobsatisfaction              0
maritalstatus                0
monthlyincome                0
salaryslab                   0
monthlyrate                  0
numcompaniesworked           0
over18                       0
overtime                     0
percentsalaryhike            0
performancerating            0
relationshipsatisfaction     0
standardhours                0
stockoptionlevel             0
totalworkingyears            0
trainingtimeslastyear        0
worklifebalance              0
yearsatcompany               0
yearsincurrentrole           0
yearssincelastpromotion      0
yearswithcurrmanager        57
dtype: int64

I have just 57 nulls data. Then, I can just exclude it.

### 2.4.1 Exclude NULL

In [33]:
df2.yearswithcurrmanager.fillna(0, inplace=True)

C:\Users\s1294807\AppData\Local\Temp\ipykernel_2352\534765501.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2.yearswithcurrmanager.fillna(0, inplace=True)

## 2.5 Change Types

In this project cycle I will opt for the quick response, in the next cycle after improving the result I will see what can be done in relation to this step.

# 3.0 Descriptive Statistical

In [34]:
df3 = df2.copy()

In [35]:
num_attrs = df3.select_dtypes(include=['int64', 'int32',  'float64'])
cat_attrs = df3.select_dtypes(exclude=['int32', 'int64', 'float64', 'datetime64[ns]'])

## 3.1 Numerical Attributes

In [36]:
ct1 = pd.DataFrame(num_attrs.apply(np.mean)).T
ct2 = pd.DataFrame(num_attrs.apply(np.median)).T

d1 = pd.DataFrame(num_attrs.apply(np.std)).T
d2 = pd.DataFrame(num_attrs.apply(min)).T
d3 = pd.DataFrame(num_attrs.apply(max)).T
d4 = pd.DataFrame(num_attrs.apply(lambda x: x.max() - x.min())).T
d5 = pd.DataFrame(num_attrs.apply(lambda x: x.skew())).T
d6 = pd.DataFrame(num_attrs.apply(lambda x: x.kurtosis())).T

m = pd.concat([d2,d3, d4, ct1, ct2, d1, d5, d6]).T.reset_index()
m.columns = ['attrs', 'min', 'max', 'range', 'mean', 'median', 'std', 'skew', 'kurtosis']
m

,attrs,min,max,range,mean,median,std,skew,kurtosis
0,age,18.0,60.0,42.0,36.917568,36.0,9.125475,0.414355,-0.405114
1,dailyrate,102.0,1499.0,1397.0,801.384459,800.0,402.990774,0.000246,-1.201903
2,distancefromhome,1.0,29.0,28.0,9.220270,7.0,8.128453,0.956145,-0.237142
3,education,1.0,5.0,4.0,2.910811,3.0,1.023450,-0.290327,-0.556773
4,employeecount,1.0,1.0,0.0,1.000000,1.0,0.000000,0.000000,0.000000
5,employeenumber,1.0,2068.0,2067.0,1031.860811,1027.5,605.750297,0.015234,-1.224390
6,environmentsatisfaction,1.0,4.0,3.0,2.724324,3.0,1.092210,-0.322294,-1.201550
7,hourlyrate,30.0,100.0,70.0,65.845270,66.0,20.321397,-0.031804,-1.195964
8,jobinvolvement,1.0,4.0,3.0,2.729730,3.0,0.712766,-0.484030,0.246918
9,joblevel,1.0,5.0,4.0,2.064865,2.0,1.105201,1.022990,0.397651
10,jobsatisfaction,1.0,4.0,3.0,2.725000,3.0,1.103764,-0.325269,-1.227852
11,monthlyincome,1009.0,19999.0,18990.0,6504.985811,4933.0,4698.673205,1.367217,1.004652
12,monthlyrate,2094.0,26999.0,24905.0,14298.460811,14220.0,7109.653674,0.021593,-1.214090
13,numcompaniesworked,0.0,9.0,9.0,2.687162,2.0,2.493255,1.028876,0.021783
14,percentsalaryhike,11.0,25.0,14.0,15.210135,14.0,3.654102,0.819118,-0.301159
15,performancerating,3.0,4.0,1.0,3.153378,3.0,0.360352,1.925748,1.710815
16,relationshipsatisfaction,1.0,4.0,3.0,2.708784,3.0,1.081630,-0.297039,-1.190253
17,standardhours,80.0,80.0,0.0,80.000000,80.0,0.000000,0.000000,0.000000
18,stockoptionlevel,0.0,3.0,3.0,0.791892,1.0,0.850240,0.971999,0.377917
19,totalworkingyears,0.0,40.0,40.0,11.281757,10.0,7.768244,1.114685,0.914360
20,trainingtimeslastyear,0.0,6.0,6.0,2.797973,3.0,1.288356,0.549093,0.499922
21,worklifebalance,1.0,4.0,3.0,2.760811,3.0,0.706785,-0.554064,0.418819
22,yearsatcompany,0.0,40.0,40.0,7.009459,5.0,6.115878,1.765458,3.939723
23,yearsincurrentrole,0.0,18.0,18.0,4.228378,3.0,3.614798,0.918546,0.484756
24,yearssincelastpromotion,0.0,15.0,15.0,2.182432,1.0,3.218270,1.986721,3.620447
25,yearswithcurrmanager,0.0,17.0,17.0,3.959459,3.0,3.574078,0.857158,0.169838

# 4.0 FEATURE ENGINEERING

create mind map of hyphotesis